* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Inter', sans-serif;
  --page-background: #ffffff;
  --secondary-background: #153e54;
  --three-background: #f4f5ff;
  --first-color: #26364b;
  --border-radius: 50%;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.page {
  width: 1400px;
  margin: 0 auto;
  background: var(--page-background);
  position: relative;
}

/*Блок Объявление */
.advertisement {
  width: 100%;
  height: 66px;
  background-color: #e4f06a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 100px;
}

.advertisement-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 511px;
}

.advertisement-block-img {
  width: 43px;
  height: 43px;
  margin-right: 10px;
}

.advertisement-block-text {
  font-family: var(--first-font-family);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.advertisement-block-text > span {
  font-style: italic;
  margin-right: 21px;
}

.advertisement-block-clock {
  display: block;
  width: 87px;
  height: 26px;
  padding: 5px 9px;
  color: var(--page-background);
  font-family: var(--first-font-family);
  font-weight: 600;
  background-color: #153e54;
  border-radius: 50px;
  line-height: 1;
}

.advertisement-link {
  font-family: var(--secondary-font-family);
  font-size: 0.875rem;
  color: var(--page-background);
  background-color: #6076df;
  padding: 13px 17px;
  line-height: 1;
  border-radius: 50px;
}
/*Блок Шапка */

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  background-color: var(--secondary-background);
  padding: 0 100px;
}

.header-top-left,
.footer-top-left-block {
  display: flex;
  align-items: center;
}

.header-top-left-text,
.footer-top-left-text {
  display: flex;
  align-items: center;
  color: var(--page-background);
  font-family: var(--first-font-family);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-left: 20px;
}

.header-top-left-text > img {
  margin: 0 3px;
}

.header-top-right {
  display: flex;
  align-items: center;
}

.header-top-right-text {
  font-family: var(--secondary-font-family);
  color: var(--page-background);
  font-size: 0.75rem;
  text-decoration: underline;
  margin-right: 37px;
}

.header-top-right-social > ul {
  width: 87px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-top-right-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #1d5472;
}

.header-top-right > button {
  width: 26px;
  height: 18px;
  border: none;
  background-color: var(--secondary-background);
  cursor: pointer;
  margin-left: 57px;
}

.header-bottom {
  background-color: var(--three-background);
}

.header-bottom-menu {
  width: 662px;
  height: 42px;
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-bottom-menu-item > a {
  color: #c5c8e2;
  font-family: var(--secondary-font-family);
  font-size: 0.9375rem;
}

.header-bottom-menu-item.active > a {
  color: #26364b;
}

/*Блок Основной контент */
.treatment-online {
  height: 785px;
  background: linear-gradient(90deg, #f0f0fd 0%, #f7f2ff 48.65%, #faedfd 99%);
}

.call {
  position: absolute;
  left: 101px;
  top: 853px;
  height: 154px;
  width: 1202px;
  border-radius: 30px;
  background-color: #ff84a0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  filter: drop-shadow(10px 16px 20px rgba(159, 168, 180, 0.17));
}

.call > p {
  width: 375px;
  font-family: var(--first-font-family);
  font-weight: 600;
  font-size: 1.375rem;
  color: #ffffff;
}

.call-box {
  display: flex;
  align-items: center;
}

.call-box > img {
  margin-right: 19px;
}

.call-box > a {
  font-family: var(--first-font-family);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 42px;
  color: #fff8f8;
}

.call > a {
  display: block;
  width: 287px;
  height: 49px;

  background-color: #f0e0b7;
  border-radius: 30px;

  font-family: var(--secondary-font-family);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  color: var(--first-color);
  padding: 14px 0;
}

.one-month {
  height: 574px;
  margin-top: 143px;
  margin-bottom: 57px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}

.one-month-left-header,
.contacts-left-header {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.one-month-left-header > span,
.contacts-left-header > span {
  margin-left: 20px;
  color: #8a929e;
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  font-weight: normal;
}

.one-month-left-body {
  width: 560px;
  height: 232px;

  font-family: var(--first-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 160%;
  color: #26364b;
  margin-bottom: 35px;
}

.one-month-left-body > span {
  font-family: var(--first-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 160%;
  letter-spacing: -0.005em;
  color: #269bc7;
}

.one-month-left-footer {
  width: 434px;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 160%;
  color: #5e6a7a;
}

.one-month-right {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
  width: 574px;
}

.one-month-right-block {
  width: 261px;
  height: 261px;
  border-radius: 30px;
  display: block;
}

.one-month-right-block-image {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: var(--page-background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0 16px 25px;
}

.one-month-right-block-title {
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -0.005em;
  width: 200px;
  color: var(--first-color);
  margin: 0 0 32px 25px;
}

.one-month-right-block-text {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 160%;
  letter-spacing: -0.005em;
  color: #8a929e;
  width: 200px;
  margin-left: 25px;
}

.one {
  background: #fbdcf5;
  box-shadow: 10px 16px 20px rgba(159, 168, 180, 0.17);
}

.two {
  background: #deecf7;
}

.three {
  background: #c0e9fc;
}

.four {
  background: #deedfe;
}

.problem {
  height: 1050px;
  background: linear-gradient(90deg, #f0f0fd 0%, #f7f2ff 48.65%, #faedfd 99%);
  padding: 57px 100px 119px;
}

.problem-left-header,
.how-work-left-header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.problem-left-header > span,
.how-work-left-header > span {
  margin-left: 20px;
  color: #8a929e;
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  font-weight: normal;
}

.problem-title {
  font-family: var(--first-font-family);
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
}

.problem-title > span {
  color: #269bc7;
}

.problem-subtitle {
  font-family: var(--secondary-font-family);
  font-size: 1.125rem;
  font-weight: 400;
  color: rgba(38, 54, 75, 0.54);
  text-align: center;
  margin-bottom: 46px;
}

.problem-tabs {
  display: flex;
  flex-direction: column;
}

.menu-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-tabs-item {
  width: 163px;
  height: 179px;
  padding: 26px 18px 28px;
  background-color: transparent;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.tab > img {
  width: 56px;
  height: 56px;
  padding: 16px;
  display: block;
  stroke: #858c9d;
  border-radius: 50%;
  background-color: var(--page-background);
  margin-bottom: 16px;
}

.tab > a {
  display: block;
  text-align: center;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--first-color);
}

.tab-active {
  background-color: #ffffff;
}

.tab-active > img {
  stroke: #000000;
  background-color: #f5f2ff;
}

.tab-content {
  display: none;
}

.tab-content-active {
  margin-top: -16px;
  display: flex;
  width: 1200px;
  height: 461px;
  background: #ffffff;
  box-shadow: 10px 16px 20px rgba(159, 168, 180, 0.17);
  border-radius: 30px;
  padding: 42px;
}

.tab-content-left {
  margin-right: 41px;
}

.tab-content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tab-content-right-title {
  font-family: var(--secondary-font-family);
  font-weight: 600;
  font-size: 1.25rem;
  padding-top: 11px;
}

.tab-content-right-text {
  width: 548px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 22.4px;
  letter-spacing: -0.005em;
  margin-top: 35px;
}

.tab-content-right-text > span {
  font-weight: 600;
}

.tab-content-right-link {
  display: block;
  width: 193px;
  height: 63px;
  border: 2px solid #c5c8e2;
  border-radius: 50px;
  padding: 20px 0;
  text-align: center;

  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #c5c8e2;
}

.deficit {
  height: 702px;
  background-image: url('../images/fon1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 82px 100px 81px;
}

.deficit-header {
  font-family: var(--secondary-font-family);
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -0.005em;
  color: var(--page-background);
  margin-bottom: 25px;
}

.deficit-title {
  width: 605px;
  height: 93px;
  font-family: var(--first-font-family);
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.005em;
  color: var(--page-background);
  margin-bottom: 40px;
}

.deficit-text {
  width: 618px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 1rem;
  color: var(--page-background);
  margin-bottom: 57px;
}

.deficit-container {
  display: flex;
  width: 777px;
}

.deficit-container-left {
  width: 305px;
  margin-right: 71px;
}

.deficit-container-left > p {
  font-family: var(--first-font-family);
  font-size: 1rem;
  font-weight: 600;
  color: var(--page-background);
  margin-bottom: 26px;
}

.deficit-container-left > a {
  display: block;
  width: 293px;
  height: 63px;
  color: var(--page-background);
  border: 2px solid var(--page-background);
  border-radius: 50px;
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  font-weight: 500;
  padding: 20px 0;
}

.deficit-container-right-list-item {
  display: flex;
  align-items: center;
  height: 42px;
}

.deficit-container-right-list-item > img {
  width: 21px;
  height: 21px;
  margin-right: 17px;
}

.deficit-container-right-list-item > span {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: -0.005em;
  color: var(--page-background);
}

.how-work {
  height: 575px;
  background: linear-gradient(90deg, #f0f0fd 0%, #f7f2ff 48.65%, #faedfd 99%);
  padding: 82px 100px 81px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.how-work-left-text {
  width: 585px;
  font-family: var(--first-font-family);
  font-weight: 600;
  font-size: 2.25rem;
  color: var(--first-color);
  margin-bottom: 75px;
}

.how-work-left-text > span {
  color: #269bc7;
}

.how-work-left-link {
  display: block;
  width: 266px;
  height: 63px;
  background: linear-gradient(89.18deg, #108abd -4.19%, #4cb9d8 112.48%);
  box-shadow: 0px 4px 8px rgba(152, 177, 160, 0.5);
  border-radius: 50px;
  color: var(--page-background);
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
}

.how-work-right {
  width: 536px;
}

.how-work-right-photo {
  width: 536px;
  height: 189px;
  background: url('../images/work1.jpg');
  border-radius: 30px;
  margin-top: 10px;
}

.how-work-right > p {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 60px;
  color: #269bc7;
  text-align: center;
}

.about-skills-container {
  width: 533px;
  display: flex;
  flex-direction: row;
}

.about-skill {
  width: 406px;
  height: 10px;
  margin: 19px 0;
}

.about-skill-name {
  display: block;
  width: 102px;
  margin-top: 12px;
  margin-right: 25px;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -0.005em;
  color: var(--first-color);
}

.about-skill-progress {
  width: 406px;
  background-color: var(--page-background);
  border-radius: 7px;
  animation: progress 1s ease-out;
}

.about-skill-bar {
  height: 10px;
  border-radius: 7px;
  background-color: #ff84a0;
}

/*Анимация прогресс-бара*/
@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.programm {
  margin: 30px 100px 68px;
}

.programm-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.programm-header-title {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: -0.005em;
  color: #269bc7;
  margin-bottom: 15px;
}

.programm-header-text {
  width: 698px;
  height: 102px;
  font-family: var(--first-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 26px;
  letter-spacing: -0.005em;
  color: #26364b;
  margin-bottom: 52px;
}

.programm-photo {
  margin-top: 23px;
  margin-right: 48px;
  width: 492px;
  height: 473px;
}

.programm-description-item {
  width: 660px;
  padding-right: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ebecf3;
  padding: 22px 24px 37px 0;
}

.programm-description-item:first-child {
  padding-top: 0;
  padding-bottom: 34px;
}

.programm-description-item:last-child {
  padding-top: 33px;
  padding-bottom: 0;
  border-bottom: none;
}

.programm-description-item-designation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.programm-description-item-designation > img {
  width: 76px;
  height: 76px;
  background-color: #f2f6fb;
  border-radius: 50%;
  padding: 21px;
  margin-bottom: 10px;
}

.programm-description-item-designation > span {
  font-family: var(--first-font-family);
  font-weight: 700;
  font-size: 0.875rem;
}

.programm-description-item-text {
  width: 482px;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: -0.005em;
  color: #26364b;
}

.programm-description-item:nth-child(2) > .programm-description-item-text {
  width: 477px;
}

.programm-description-item-link {
  font-weight: 600;
}

.whom {
  width: 1400px;
  height: 409px;
  margin-top: 68px;
  padding: 0 100px;
  display: flex;
}

.whom-questions-list {
  display: flex;
  flex-wrap: wrap;
}

.treatment {
  width: 1400px;
  height: 496px;
  background-image: url('./../images/comprehensive_program.png');
  padding: 40px 100px;
}

.treatment-block {
  width: 585px;
  height: 415px;
  background: linear-gradient(89.18deg, #ff84a0 -4.19%, #ff84a0 112.48%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 39px 28px 52px 56px;
}

.treatment-block-header {
  display: block;
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  font-weight: 400;
  color: var(--page-background);
  line-height: 60px;
}

.treatment-block-title {
  width: 501px;
  height: 84px;
  font-family: var(--first-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 36px;
}

.treatment-block-list {
  list-style-type: disc;
  width: 466px;
  height: 52px;
  margin-bottom: 36px;
}

.treatment-block-list > li {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #ffffff;
  margin-left: 22px;
}

.treatment-block > p {
  width: 202px;
  height: 31px;
  font-family: var(--first-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
  color: #ffffff;
}

.treatment-block-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.treatment-block-tel {
  display: flex;
  height: 42px;
  align-items: center;
}

.treatment-block-tel > img {
  margin-right: 10px;
  height: 18px;
  width: 18px;
}

.treatment-block-tel > a {
  display: block;
  width: 171px;

  font-family: var(--first-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 42px;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.treatment-block-socials {
  width: 85px;
  display: flex;
  justify-content: space-between;
}

.treatment-block-social {
  display: block;
}

.treatment-block-social > svg {
  stroke: var(--page-background);
}

.treatment-block-social.vk > svg {
  width: 17px;
  height: 11px;
}

.treatment-block-social.telegramm > svg {
  width: 16px;
  height: 13px;
}

.treatment-block-social.whatsapp > svg {
  width: 14px;
  height: 14px;
}

.packages {
  height: 697px;
  margin: 100px 0;
  padding: 0 100px;
}

.recommendations {
  position: relative;
  height: 754px;
  padding: 70px 100px 0;
  background: linear-gradient(90deg, #f0f0fd 0%, #f7f2ff 48.65%, #faedfd 99%);
}

.recommendations-container {
  display: flex;
  flex-direction: row;
}

.recommendations-photo {
  width: 494px;
  height: 585px;
  margin-right: 44px;
  margin-top: 22px;
}

.recommendations-block-title {
  width: 630px;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.005em;
  color: #26364b;
  background: var(--page-background);
  opacity: 0.8;
  border-radius: 20px;
  margin: 59px 0 40px;
}

.recommendations-block-text {
  width: 504px;
  height: 78px;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: -0.005em;
  color: #26364b;
  padding-left: 20px;
  margin-bottom: 50px;
}

.recommendations-block-list {
  display: flex;
  flex-wrap: wrap;
  gap: 46px 24px;
}

.recommendations-block-item {
  width: 309px;
  display: flex;
  flex-direction: row;
}

.recommendations-block-item > img {
  width: 21px;
  height: 21px;
  margin-right: 14px;
}

.recommendations-block-item > p {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 160%;
  letter-spacing: -0.005em;
  color: #26364b;
}

.answers {
  height: 718px;
  width: 1400px;
  background: linear-gradient(180deg, #c9cdd0 0%, #bfc1c2 100%);
}

.answers-container {
  height: 718px;
  width: 1400px;
  background: url('./../images/pretty.png') no-repeat;
  padding: 0 100px;
  background-size: contain;
}

.accordion-icon-active > svg {
  stroke: white;
}
.contacts {
  width: 1400px;
  height: 399px;
  padding: 0 100px;
  background: #ffffff;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

p.contacts-left-header {
  margin-top: 0;
  margin-bottom: 35px;
}

.contacts-title {
  font-family: var(--first-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 48px;
  letter-spacing: -0.005em;
  color: var(--first-color);
  margin-bottom: 79px;
  margin-left: 70px;
}

.contacts-left-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contacts-left-body-one {
  margin-right: 43px;
}

.contacts-left-body-one > li,
.contacts-left-body-two > li {
  height: 49px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacts-left-body-one > li > a,
.contacts-left-body-two > li > a {
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  font-weight: 500;
  color: var(--first-color);
}

.contacts-left-body-one > li:hover,
.contacts-left-body-two > li:hover {
  color: #269bc7;
}

.icon {
  height: 59px;
  width: 59px;
  border-radius: 50%;
  background-color: #f2f6fb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
}

.icon > svg {
  width: 20px;
  height: 20px;
  stroke: #26364b;
}

.stroke {
  fill: #26364b;
}

.icon:hover > svg {
  stroke: #269bc7;
  fill: #269bc7;
}

.contacts-right > p {
  width: 552px;
  height: 375px;
  background-image: url('../images/map.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 6rem;
  color: #d9d9e4;
  padding: 110px;
}

.articles {
  background-color: #ffffff;
  padding: 119px 100px;
}

.articles-title {
  font-family: var(--first-font-family);
  font-size: 2.125rem;
  font-weight: 600;
  margin-bottom: 100px;
}

.articles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.articles-left {
  display: flex;
  flex-direction: column;
  width: 611px;
}

.article {
  display: flex;
  background: #ffffff;
  border: 2px solid #ebecf3;
  border-radius: 30px;
}

.article-image > a {
  display: block;
  width: 252px;
  height: 249px;
}

.article-image > a > img {
  width: 252px;
  height: 249px;
}
.article-block {
  padding: 29px 30px 21px;
}

.article-block-header {
  border-bottom: 2px solid #ebecf3;
}

.article-title {
  display: block;
  font-family: var(--first-font-family);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.005em;
  margin-bottom: 12px;
}

.article:first-child {
  margin-bottom: 29px;
}

.articles-right {
  width: 533px;
}

.article-block-header > p {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 0.8125rem;
  color: #8a929e;
  letter-spacing: -0.005em;
  margin-bottom: 31px;
}

.article-author {
  margin-top: 16px;
  font-family: var(--first-font-family);
  font-size: 1rem;
  font-weight: 600;
  color: var(--first-color);
}

.article-block-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.article-block-bottom > p,
.article-block-bottom > a {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 0.8125rem;
  color: #8a929e;
}

.article-big {
  height: 533px;
  border: 2px solid #ebecf3;
  border-radius: 30px;
}

.article-big-title {
  margin: 2px 0 28px;
}

.article-big-text {
  width: 328px;
  line-height: 150%;
}

.article-block-bottom > a:hover {
  color: #269bc7;
}

.subscribe {
  width: 1400px;
  height: 257px;
  background: linear-gradient(90deg, #f0f0fd 0%, #f7f2ff 48.65%, #faedfd 99%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.subscribe > p {
  font-family: var(--first-font-family);
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--first-color);
  width: 518px;
}

.subscribe > form {
  height: 55px;
  width: 467px;
  display: flex;
  margin: 0;
}

.subscribe > form > input {
  height: 55px;
  width: 297px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
  outline: none;
  border: 2px solid #7d8693;
  border-right: none;
  background: url('./../images/mail.svg') no-repeat left 25px center;
  background-color: #ffffff;
  padding-left: 57px;
  font-family: var(--secondary-font-family);
  font-size: 1.125rem;
  font-weight: 500;
}

.subscribe > form > button {
  height: 55px;
  width: 297px;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  font-weight: 500;
  background: linear-gradient(89.18deg, #108abd -4.19%, #4cb9d8 112.48%);
  color: #ffffff;
}

/*Блок Подвал */
.footer {
  height: 658px;
  width: 1400px;
  background-color: var(--first-color);
  padding: 66px 100px 290px;
}

.footer-top {
  display: flex;
}

.footer-middle-left {
  height: 88px;
  width: 307px;
  font-family: var(--secondary-font-family);
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 67px;
}

.footer-top-right {
  margin-left: -90px;
  display: flex;
  flex-wrap: wrap;
}

.footer-top-right-menu {
  display: grid;
  grid-template-columns: repeat(4, 219px);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'help about-us our-contacts our-prices'
    '. working-us documents .';
  cursor: pointer;
}

.help {
  grid-area: help;
}

.about-us {
  grid-area: about-us;
}

.our-contacts {
  grid-area: our-contacts;
}

.our-prices {
  grid-area: our-prices;
}

.working-us {
  grid-area: working-us;
}

.documents {
  grid-area: documents;
}

.footer-top-right-menu-item {
  cursor: pointer;
  color: #7d8693;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 0.875rem;
}

.footer-top-right-menu-item > img {
  margin-left: 10px;
  width: 10px;
  height: 14px;
  padding-top: 4px;
}

.footer-top-right-menu-item.activ {
  color: var(--page-background);
}

.footer-top-right-menu-item.activ > img {
  transform: rotate(180deg);
  padding-top: 0;
}

.footer-top-right-menu-item.activ > .footer-submenu {
  display: block;
}
.footer-submenu {
  margin-top: 25px;
  display: none;
}

.footer-submenu-item {
  height: 42px;
}

.footer-submenu-item > a {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: -0.005em;
  color: #7d8693;
}

.footer-subscribe > form {
  height: 55px;
  width: 467px;
  display: flex;
  margin: 0;
  margin-top: 76px;
}

.footer-subscribe > form > input {
  height: 55px;
  width: 297px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
  outline: none;
  border: 2px solid #7d8693;
  border-right: none;
  background-color: var(--first-color);
  background: url('./../images/mail.svg') no-repeat left 25px center;
  padding-left: 57px;
  font-family: var(--secondary-font-family);
  font-size: 1.125rem;
  font-weight: 500;
}

.footer-subscribe > form > button {
  height: 55px;
  width: 297px;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  font-weight: 500;
}

.hidden {
  display: none;
}
