* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Inter', sans-serif;
  --page-background: #ffffff;
  --secondary-background: #153e54;
  --three-background: #f4f5ff;
  --first-color: #26364b;
  --border-radius: 50%;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.page {
  width: 1400px;
  margin: 0 auto;
  background: var(--page-background);
  position: relative;
}

/*Блок Объявление */
.advertisement {
  width: 100%;
  height: 66px;
  background-color: #e4f06a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 100px;
}

.advertisement-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 511px;
}

.advertisement-block-img {
  width: 43px;
  height: 43px;
  margin-right: 10px;
}

.advertisement-block-text {
  font-family: var(--first-font-family);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.advertisement-block-text > span {
  font-style: italic;
  margin-right: 21px;
}

.advertisement-block-clock {
  display: block;
  width: 87px;
  height: 26px;
  padding: 5px 9px;
  color: var(--page-background);
  font-family: var(--first-font-family);
  font-weight: 600;
  background-color: #153e54;
  border-radius: 50px;
  line-height: 1;
}

.advertisement-link {
  font-family: var(--secondary-font-family);
  font-size: 0.875rem;
  color: var(--page-background);
  background-color: #6076df;
  padding: 13px 17px;
  line-height: 1;
  border-radius: 50px;
}
/*Блок Шапка */

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  background-color: var(--secondary-background);
  padding: 0 100px;
}

.header-top-left,
.footer-top-left-block {
  display: flex;
  align-items: center;
}

.header-top-left-text,
.footer-top-left-text {
  display: flex;
  align-items: center;
  color: var(--page-background);
  font-family: var(--first-font-family);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-left: 20px;
}

.header-top-left-text > img {
  margin: 0 3px;
}

.header-top-right {
  display: flex;
  align-items: center;
}

.header-top-right-text {
  font-family: var(--secondary-font-family);
  color: var(--page-background);
  font-size: 0.75rem;
  text-decoration: underline;
  margin-right: 37px;
}

.header-top-right-social > ul {
  width: 87px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-top-right-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #1d5472;
}

.header-top-right > button {
  width: 26px;
  height: 18px;
  border: none;
  background-color: var(--secondary-background);
  cursor: pointer;
  margin-left: 57px;
}

.header-bottom {
  background-color: var(--three-background);
}

.header-bottom-menu {
  width: 662px;
  height: 42px;
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-bottom-menu-item > a {
  color: #c5c8e2;
  font-family: var(--secondary-font-family);
  font-size: 0.9375rem;
}

.header-bottom-menu-item.active > a {
  color: #26364b;
}

/*Блок Основной контент */
.treatment-online {
  height: 785px;
  background: linear-gradient(90deg, #f0f0fd 0%, #f7f2ff 48.65%, #faedfd 99%);
}

.call {
  position: absolute;
  left: 101px;
  top: 853px;
  height: 154px;
  width: 1202px;
  border-radius: 30px;
  background-color: #ff84a0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  filter: drop-shadow(10px 16px 20px rgba(159, 168, 180, 0.17));
}

.call > p {
  width: 375px;
  font-family: var(--first-font-family);
  font-weight: 600;
  font-size: 1.375rem;
  color: #ffffff;
}

.call-box {
  display: flex;
  align-items: center;
}

.call-box > img {
  margin-right: 19px;
}

.call-box > a {
  font-family: var(--first-font-family);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 42px;
  color: #fff8f8;
}

.call > a {
  display: block;
  width: 287px;
  height: 49px;

  background-color: #f0e0b7;
  border-radius: 30px;

  font-family: var(--secondary-font-family);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  color: var(--first-color);
  padding: 14px 0;
}

.one_month {
  height: 574px;
  margin-top: 143px;
  margin-bottom: 57px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}

.one_month-left-header,
.contacts-left-header {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.one_month-left-header > span,
.contacts-left-header > span {
  margin-left: 20px;
  color: #8a929e;
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  font-weight: normal;
}

.one_month-left-body {
  width: 560px;
  height: 232px;

  font-family: var(--first-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 160%;
  color: #26364b;
  margin-bottom: 35px;
}

.one_month-left-body > span {
  font-family: var(--first-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 160%;
  letter-spacing: -0.005em;
  color: #269bc7;
}

.one_month-left-footer {
  width: 434px;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 160%;
  color: #5e6a7a;
}

.one_month-right {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
  width: 574px;
}

.one_month-right-block {
  width: 261px;
  height: 261px;
  border-radius: 30px;
  display: block;
}

.one_month-right-block-image {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: var(--page-background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0 16px 25px;
}

.one_month-right-block-title {
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -0.005em;
  width: 200px;
  color: var(--first-color);
  margin: 0 0 32px 25px;
}

.one_month-right-block-text {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 160%;
  letter-spacing: -0.005em;
  color: #8a929e;
  width: 200px;
  margin-left: 25px;
}

.one {
  background: #fbdcf5;
  box-shadow: 10px 16px 20px rgba(159, 168, 180, 0.17);
}

.two {
  background: #deecf7;
}

.three {
  background: #c0e9fc;
}

.four {
  background: #deedfe;
}

.problem {
  height: 1050px;
  background-color: #c5c8e2;
}

.deficit {
  height: 702px;
  background-image: url('../images/fon1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.articles {
  background-color: #ffffff;
  padding: 119px 100px;
}

.articles-title {
  font-family: var(--first-font-family);
  font-size: 2.125rem;
  font-weight: 600;
  margin-bottom: 100px;
}

.articles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.articles-left {
  display: flex;
  flex-direction: column;
  width: 611px;
}

.article {
  display: flex;
  background: #ffffff;
  border: 2px solid #ebecf3;
  border-radius: 30px;
}
.article-image > img {
  width: 252px;
  height: 245px;
}
.article-block {
  padding: 29px 30px 21px;
}

.article-block-header {
  border-bottom: 2px solid #ebecf3;
}

.article-title {
  font-family: var(--first-font-family);
  font-size: 1rem;
  font-weight: 600;
}

.article:first-child {
  margin-bottom: 29px;
}

.articles-right {
  width: 533px;
}

.subscribe {
  width: 1400px;
  height: 257px;
  background: linear-gradient(90deg, #f0f0fd 0%, #f7f2ff 48.65%, #faedfd 99%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.subscribe > p {
  font-family: var(--first-font-family);
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--first-color);
  width: 518px;
}

.subscribe > form {
  height: 55px;
  width: 467px;
  display: flex;
  margin: 0;
}

.subscribe > form > input {
  height: 55px;
  width: 297px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
  outline: none;
  border: 2px solid #7d8693;
  border-right: none;
  background: url('./../images/mail.svg') no-repeat left 25px center;
  background-color: #ffffff;
  padding-left: 57px;
  font-family: var(--secondary-font-family);
  font-size: 1.125rem;
  font-weight: 500;
}

.subscribe > form > button {
  height: 55px;
  width: 297px;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  font-weight: 500;
  background: linear-gradient(89.18deg, #108abd -4.19%, #4cb9d8 112.48%);
  color: #ffffff;
}

/*Блок Подвал */
.footer {
  height: 658px;
  width: 1400px;
  background-color: var(--first-color);
  padding: 66px 100px 290px;
}

.footer-top {
  display: flex;
}

.footer-middle-left {
  height: 88px;
  width: 307px;
  font-family: var(--secondary-font-family);
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 67px;
}

.footer-top-right {
  width: 774px;
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
}

.footer-top-right-menu {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.footer-top-right-menu:first-child {
  margin-right: 170px;
}

.footer-top-right-menu:last-child {
  width: 385px;
  align-self: center;
  margin-left: 237px;
  margin-top: 30px;
}

.footer-top-right-menu > Li {
  cursor: pointer;
  color: #7d8693;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 0.875rem;
}

.footer-top-right-menu > Li > img {
  margin-left: 10px;
  width: 10px;
  height: 5px;
}

.footer-bottom > form {
  height: 55px;
  width: 467px;
  display: flex;
  margin: 0;
  margin-top: 76px;
}

.footer-bottom > form > input {
  height: 55px;
  width: 297px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
  outline: none;
  border: 2px solid #7d8693;
  border-right: none;
  background-color: var(--first-color);
  background: url('./../images/mail.svg') no-repeat left 25px center;
  padding-left: 57px;
  font-family: var(--secondary-font-family);
  font-size: 1.125rem;
  font-weight: 500;
}

.footer-bottom > form > button {
  height: 55px;
  width: 297px;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  font-weight: 500;
}

.hidden {
  display: none;
}
